{% extends 'bootstrap.html' %}

{% comment %} eita bootstrap.html er sob copy kore ei jaigai niye ashbe . then ami bootstrap.html er jei jei jaigai block lagai dicelam akn sei 
block gula ei jaigar text gula diye replace hoye jabe  {% endcomment %}

{% block title %}
This is joy title
{% endblock title %}
{% comment %} jmn bootstrap.html er title cng hoye jabe this is joy title diye  {% endcomment %}

{% block content %}
Main content of joy.html
{% endblock content %}

{% comment %} sob to index theke nibe kintu block title r block content ta just eitar ta replace kore bosai dibe   {% endcomment %}